doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="blog.css")
  title Aimée
body
  .container
    h1 My First year in web Development

    h2 11 August 2017
    p That was the day I signed up with freecodecamp. It's almost a year ago now and boy, is there a lot to learn! Here's a recap:

    h2 The Basics
    h3 HTML - HyperText Markup Language
    p Creating a basic web page can be as simple as writing something in text editor and saving the file with an '.html' extension. Using HTML we can structure the text like a document with a heading and lists etc. We can even add images by typing where the file is located!

    h3 CSS - Cascading Style Sheets
    p After I got the hang of HTML it was on to CSS. CSS is used to style a document and after spending some time with it, nothing short of magic! We can change fonts and colours or change the colour and shape of elements. We can even use simple animations or have the document display itself differently on different screen sizes.

    h3 JS - JavaScript
    p As if CSS was not magical enough there is also JS, used to make the document completely interactive! We can react to things the user interact with, and change anything in the document! We can add or remove elements or even fetch information from somewhere else on the internet!

    h2 The Backend
    p After creating a couple of basic pages and populating them with information from various places on the internet I came to the realisation that there's another layer to all of this.. The Backend! The website needs to be somewhere on the internet for people to see it, as well as all the images and sounds that go with it. Real websites also usually have various different pages a user can navigate to. Managing all of this is the responsibility of the backend, a program that runs on the server to dictate what information needs to be sent where.

    h3 Node
    p Node is JS, but instead of running in a browser to give interaction to a page, it can be run directly on a computer. This means that we can use the same language for developing the backend! Node also comes with NPM - the Node Package Manager which makes it easy to include code libraries and use them within the application.

    h3 Express
    p One of the packages available to us through NPM is called express. It is a framework for creating backend application much easier and quicker. It also organises different parts of the code to make it easier to manage.

    h2 What next?
    p So that's it? That's all there is to know about web development? Oh god no, I've hardly got started on backend development really, there are still many little things like authentication or making payments. There are also some frontend libraries like d3 and react, both of which are JS libraries for creating advanced frontend designs.

    h2 In conclusion
    p Programming is fun, people should try it! It's like a never-ending rabbit hole and I can't wait to see what I will discover next!

    .nav
    a(href="/portfolio") Portfolio
    a(href="/contact") Contact Us
