doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="index.css")
  title(Aimée)
body
  .container
    a(href="/blog", class="homeNav", id="blog") Blog
    a(href="/portfolio", class="homeNav", id="portfolio") Portfolio
  script(src="index.js", charset="utf-8")
