doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="portfolio.css")
  title(Aimée)
body
  .projects
    div(class="project", id="project1")
      a(href="https://sl.glitch.me/", target="_blank") Shortlink
    div(class="project", id="project2")
      a(href="https://codepen.io/Aimee-MacDonald/full/aWrojY/", target="_blank") Calculator
    div(class="project", id="project3")
      a(href="https://codepen.io/Aimee-MacDonald/full/eRZEvw/", target="_blank") Bubbles
    div(class="project", id="project4")
      a(href="https://codepen.io/Aimee-MacDonald/full/QvaGPB/", target="_blank") Wiki Search
  .nav
    a(href="/blog")
      p Blog
    a(href="/contact")
      p Contact
