doctype html
html(lang="en")
head
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1.0")
  meta(http-equiv="X-UA-Compatible", content="ie=edge")
  link(rel="stylesheet", href="portfolio.css")
  title(Aimée)
body
  .container
    div(class="project", id="project1")
    div(class="project", id="project2")
    div(class="project", id="project3")
    div(class="project", id="project4")
    div(class="project", id="project5")
    div(class="project", id="project6")
